<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <b>Texture Transfer</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Transfer Desired Texture onto a Target Image</ion-card-subtitle>
      <ion-card-title>Texture Transfer</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" color="dark" (click)="selectImage('texture')">Upload Texture Image</ion-button>
      <br>
      <img [src]="textureImg.croppedImagepath" *ngIf="textureImg.croppedImagepath"/>
      <br *ngIf="textureImg.croppedImagepath">
      <ion-button expand="block" color="dark" (click)="selectImage('target')">Upload Target Image</ion-button>
      <br>
      <img [src]="targetImg.croppedImagepath" *ngIf="targetImg.croppedImagepath"/>
      <br>
      <div *ngIf="targetImg.croppedImagepath && textureImg.croppedImagepath">
        <span><h2 align="center">Show Advanced Options <ion-icon *ngIf="!showAdvanced" name="arrow-dropdown-circle" (click)="setShowAdvanced(true)"></ion-icon> <ion-icon *ngIf="showAdvanced" name="arrow-dropup-circle" (click)="setShowAdvanced(false)"></ion-icon></h2></span>
        <div *ngIf="showAdvanced">
          <ion-item>
            <ion-label position="stacked">Block Size</ion-label>
            <ion-input type="number" value="10" (ionChange)="blockSizeChanged($event)"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="stacked">Overlap Size</ion-label>
            <ion-input type="number" value="5" (ionChange)="overlapSizeChanged($event)"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="stacked">Tolerance</ion-label>
            <ion-input type="number" value="0.1" (ionChange)="toleranceChanged($event)"></ion-input>
          </ion-item>
          
          <br>
          
        </div>

      </div>
      <ion-button expand="block" color="dark" (click)="submit()">Transfer Texture   &nbsp;&nbsp;<ion-icon name="shuffle"></ion-icon></ion-button>
      <br>
      <p *ngIf="transferInProgress" align="center"><ion-spinner name="circles" color="dark"></ion-spinner> &nbsp;&nbsp;{{status}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
